###############################################################################
# Set default behavior to automatically normalize line endings.
#
# See https://help.github.com/articles/dealing-with-line-endings/ for examples
###############################################################################

# Default behavior
* text=auto

# How about all the text files as LF?
* text eol=lf

# Visual Studio files should always have CRLF line endings
*.sln text eol=crlf
*.vcxproj eol=crlf
*.vcxproj.filters eol=crlf
*.bat eol=crlf

# Let's set the C/C++ source files to LF
*.c text eol=lf
*.h text eol=lf
*.hh text eol=lf
*.hpp text eol=lf
*.cpp text eol=lf
*.cxx text eol=lf
*.cc text eol=lf

# Force images/fonts to be handled as binaries
*.jpg binary
*.jpeg binary
*.gif binary
*.png binary
*.t3x binary
*.t3d binary
*.exe binary
*.data binary
*.ttf binary
*.eof binary
*.eot binary
*.swf binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.ogg binary
*.flv binary
*.mpg binary
*.mpeg binary
